In [1]:
import random
import collections
from fractions import Fraction
import pandas as pd
import itertools

In [2]:
hands_df = pd.read_csv('../Extra_Storage/UPDATED_ALL_HAND_OPTIONS.csv')  
hands_df = hands_df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

In [3]:
discard_list = [0,1,2,3,4]
all_discard_options = []
for L in range(len(discard_list) + 1):
    for subset in itertools.combinations(discard_list, L):
        discard_option = list(subset)
        all_discard_options.append(discard_option)
        
all_discard_options.pop(0)

[]

In [4]:
all_discard_options

[[0],
 [1],
 [2],
 [3],
 [4],
 [0, 1],
 [0, 2],
 [0, 3],
 [0, 4],
 [1, 2],
 [1, 3],
 [1, 4],
 [2, 3],
 [2, 4],
 [3, 4],
 [0, 1, 2],
 [0, 1, 3],
 [0, 1, 4],
 [0, 2, 3],
 [0, 2, 4],
 [0, 3, 4],
 [1, 2, 3],
 [1, 2, 4],
 [1, 3, 4],
 [2, 3, 4],
 [0, 1, 2, 3],
 [0, 1, 2, 4],
 [0, 1, 3, 4],
 [0, 2, 3, 4],
 [1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [5]:
card_deck = []

i = 2
j = 1
while i < 15 and j < 5:
    card = []
    card.append(i)
    
    if j == 1:
        card.append('Heart')
    elif j == 2:
        card.append('Diamond')
    elif j == 3:
        card.append('Spade')
    elif j == 4:
        card.append('Club')
    
    if i == 2:
        card.append('Y')
    else:
        card.append('N')
        
    if i == 14:
        j = j + 1
        i = 1
    
    card_deck.append(card)
    i = i + 1

In [6]:
i = 1
j = 52
card_hand = []

while i < 6:
    x = random.randrange(0, j)    
    dealt_card = card_deck.pop(x)
    card_hand.append(dealt_card)
    i = i + 1
    j = j - 1
    
first_dealt_hand = card_hand
first_dealt_hand

[[3, 'Diamond', 'N'],
 [6, 'Club', 'N'],
 [5, 'Diamond', 'N'],
 [4, 'Spade', 'N'],
 [9, 'Club', 'N']]

In [7]:
string_first_hand = []
for card in first_dealt_hand:
    string_first_hand.append(str(card))

string_first_hand

["[3, 'Diamond', 'N']",
 "[6, 'Club', 'N']",
 "[5, 'Diamond', 'N']",
 "[4, 'Spade', 'N']",
 "[9, 'Club', 'N']"]

In [8]:
# potential_discarded_card
all_discard_options

complete_discard_list = []

for item in all_discard_options:
    discard_string = ''

    for mini_item in item:
        temp_string = str(mini_item)
        discard_string = discard_string + temp_string
        
    complete_discard_list.append(discard_string)
    
complete_discard_list

['0',
 '1',
 '2',
 '3',
 '4',
 '01',
 '02',
 '03',
 '04',
 '12',
 '13',
 '14',
 '23',
 '24',
 '34',
 '012',
 '013',
 '014',
 '023',
 '024',
 '034',
 '123',
 '124',
 '134',
 '234',
 '0123',
 '0124',
 '0134',
 '0234',
 '1234',
 '01234']

In [9]:
# test_hand = ["[2, 'Heart', 'Y']","[10, 'Club', 'N']","[5,'Diamond','N']"]

complete_discard_odds_df_list = []

for discard_option in complete_discard_list:
    test_discarded_card_position_list = [*discard_option]

    saved_hand = []
    for card in first_dealt_hand:
        saved_hand.append(card)

    temp_hand = saved_hand

    
    k = 0
    discarded_cards = []
    for item in test_discarded_card_position_list:
        num_item = int(item)
        card_position = num_item - k
        discard = temp_hand.pop(card_position)
        discarded_cards.append(discard)
        k = k + 1

    string_hand = []    
    for item in temp_hand:
        new_item = str(item)
        string_hand.append(new_item)

        
    if len(string_hand) == 1:
        test_odds_df = hands_df[hands_df.isin([string_hand[0]]).any(axis=1)]
    elif len(string_hand) == 2:
        test_odds_df = hands_df[hands_df.isin([string_hand[0]]).any(axis=1) & hands_df.isin([string_hand[1]]).any(axis=1)]
    elif len(string_hand) == 3:
        test_odds_df = hands_df[hands_df.isin([string_hand[0]]).any(axis=1) & hands_df.isin([string_hand[1]]).any(axis=1) & hands_df.isin([string_hand[2]]).any(axis=1)]
    elif len(string_hand) == 4:
        test_odds_df = hands_df[hands_df.isin([string_hand[0]]).any(axis=1) & hands_df.isin([string_hand[1]]).any(axis=1) & hands_df.isin([string_hand[2]]).any(axis=1) & hands_df.isin([string_hand[3]]).any(axis=1)]
    elif len(string_hand) == 0:
        test_odds_df = hands_df.loc[~hands_df.isin(string_first_hand).any(axis=1)]


    test_odds_summary_df = pd.DataFrame(test_odds_df['Result'].value_counts())

    test = test_odds_summary_df['Result'].sum()
    
    temp_odds_list = test_odds_summary_df['Result'].tolist()

    new_list = []
    for item in temp_odds_list:
        new_list.append("{:.5f}".format((item / test) * 100))

    test_odds_summary_df['Percentage'] = new_list

    win_total_df = test_odds_summary_df
    
    if "['Loss']" in win_total_df.index:
        win_total_df = win_total_df.drop(index=("['Loss']"))

    win_total = win_total_df['Result'].sum()

    test_odds_summary_df.loc['Win', :] = [win_total,("{:.5f}".format((win_total / test) * 100))]

    
    test_odds_summary_df['Discard Positions'] = discard_option

    discarded_cards_string = str(discarded_cards)
    test_odds_summary_df['Discard Cards'] = discarded_cards_string

    complete_discard_odds_df_list.append(test_odds_summary_df)

complete_discard_odds_df = pd.concat(complete_discard_odds_df_list)

In [10]:
# complete_discard_odds_df
final_complete_discard_odds_df = complete_discard_odds_df.drop(index=("['Loss']"))
final_complete_discard_odds_df['Percentage'] = final_complete_discard_odds_df['Percentage'].astype(float)
final_complete_discard_odds_df = final_complete_discard_odds_df.sort_values(by=['Percentage'], ascending = False)
print(first_dealt_hand)
final_complete_discard_odds_df.head(50)

[[3, 'Diamond', 'N'], [6, 'Club', 'N'], [5, 'Diamond', 'N'], [4, 'Spade', 'N'], [9, 'Club', 'N']]

/var/folders/2d/w0_y9zt547v2y0371_wclbcm0000gn/T/ipykernel_5474/61141876.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_complete_discard_odds_df['Percentage'] = final_complete_discard_odds_df['Percentage'].astype(float)

,Result,Percentage,Discard Positions,Discard Cards
Win,307648.0,20.05608,01234,"[[3, 'Diamond', 'N'], [6, 'Club', 'N'], [5, 'D..."
['Straight'],8.0,16.66667,4,"[[9, 'Club', 'N']]"
Win,8.0,16.66667,4,"[[9, 'Club', 'N']]"
Win,40377.0,16.15726,0123,"[[3, 'Diamond', 'N'], [6, 'Club', 'N'], [5, 'D..."
Win,39366.0,15.75270,0234,"[[3, 'Diamond', 'N'], [5, 'Diamond', 'N'], [4,..."
Win,38355.0,15.34814,0134,"[[3, 'Diamond', 'N'], [6, 'Club', 'N'], [4, 'S..."
['Three of a Kind'],233760.0,15.23920,01234,"[[3, 'Diamond', 'N'], [6, 'Club', 'N'], [5, 'D..."
Win,37344.0,14.94358,0124,"[[3, 'Diamond', 'N'], [6, 'Club', 'N'], [5, 'D..."
Win,36333.0,14.53902,1234,"[[6, 'Club', 'N'], [5, 'Diamond', 'N'], [4, 'S..."
Win,2566.0,13.09184,023,"[[3, 'Diamond', 'N'], [5, 'Diamond', 'N'], [4,..."
Win,2480.0,12.65306,034,"[[3, 'Diamond', 'N'], [4, 'Spade', 'N'], [9, '..."
Win,2383.0,12.15816,134,"[[6, 'Club', 'N'], [4, 'Spade', 'N'], [9, 'Clu..."
['Three of a Kind'],30356.0,12.14726,1234,"[[6, 'Club', 'N'], [5, 'Diamond', 'N'], [4, 'S..."
['Three of a Kind'],30170.0,12.07283,0124,"[[3, 'Diamond', 'N'], [6, 'Club', 'N'], [5, 'D..."
['Three of a Kind'],30077.0,12.03561,0134,"[[3, 'Diamond', 'N'], [6, 'Club', 'N'], [4, 'S..."
['Three of a Kind'],29984.0,11.99840,0234,"[[3, 'Diamond', 'N'], [5, 'Diamond', 'N'], [4,..."
['Three of a Kind'],29798.0,11.92397,0123,"[[3, 'Diamond', 'N'], [6, 'Club', 'N'], [5, 'D..."
Win,2288.0,11.67347,014,"[[3, 'Diamond', 'N'], [6, 'Club', 'N'], [9, 'C..."
Win,2288.0,11.67347,024,"[[3, 'Diamond', 'N'], [5, 'Diamond', 'N'], [9,..."
Win,131.0,11.13946,04,"[[3, 'Diamond', 'N'], [9, 'Club', 'N']]"
Win,2096.0,10.69388,234,"[[5, 'Diamond', 'N'], [4, 'Spade', 'N'], [9, '..."
Win,2096.0,10.69388,124,"[[6, 'Club', 'N'], [5, 'Diamond', 'N'], [9, 'C..."
Win,2096.0,10.69388,013,"[[3, 'Diamond', 'N'], [6, 'Club', 'N'], [4, 'S..."
Win,1840.0,9.38776,123,"[[6, 'Club', 'N'], [5, 'Diamond', 'N'], [4, 'S..."
Win,1840.0,9.38776,012,"[[3, 'Diamond', 'N'], [6, 'Club', 'N'], [5, 'D..."
['Three of a Kind'],1720.0,8.77551,012,"[[3, 'Diamond', 'N'], [6, 'Club', 'N'], [5, 'D..."
['Three of a Kind'],1720.0,8.77551,123,"[[6, 'Club', 'N'], [5, 'Diamond', 'N'], [4, 'S..."
['Three of a Kind'],1696.0,8.65306,234,"[[5, 'Diamond', 'N'], [4, 'Spade', 'N'], [9, '..."
['Three of a Kind'],1696.0,8.65306,024,"[[3, 'Diamond', 'N'], [5, 'Diamond', 'N'], [9,..."
['Three of a Kind'],1672.0,8.53061,124,"[[6, 'Club', 'N'], [5, 'Diamond', 'N'], [9, 'C..."
['Three of a Kind'],1672.0,8.53061,013,"[[3, 'Diamond', 'N'], [6, 'Club', 'N'], [4, 'S..."
['Three of a Kind'],1669.0,8.51531,134,"[[6, 'Club', 'N'], [4, 'Spade', 'N'], [9, 'Clu..."
Win,99.0,8.41837,24,"[[5, 'Diamond', 'N'], [9, 'Club', 'N']]"
Win,99.0,8.41837,34,"[[4, 'Spade', 'N'], [9, 'Club', 'N']]"
Win,99.0,8.41837,14,"[[6, 'Club', 'N'], [9, 'Club', 'N']]"
Win,99.0,8.41837,03,"[[3, 'Diamond', 'N'], [4, 'Spade', 'N']]"
['Three of a Kind'],1648.0,8.40816,034,"[[3, 'Diamond', 'N'], [4, 'Spade', 'N'], [9, '..."
['Three of a Kind'],1648.0,8.40816,014,"[[3, 'Diamond', 'N'], [6, 'Club', 'N'], [9, 'C..."
['Three of a Kind'],1648.0,8.40816,023,"[[3, 'Diamond', 'N'], [5, 'Diamond', 'N'], [4,..."
['Straight'],86.0,7.31293,04,"[[3, 'Diamond', 'N'], [9, 'Club', 'N']]"
['Straight'],54.0,4.59184,03,"[[3, 'Diamond', 'N'], [4, 'Spade', 'N']]"
['Straight'],54.0,4.59184,14,"[[6, 'Club', 'N'], [9, 'Club', 'N']]"
['Three of a Kind'],51.0,4.33673,34,"[[4, 'Spade', 'N'], [9, 'Club', 'N']]"
['Three of a Kind'],51.0,4.33673,02,"[[3, 'Diamond', 'N'], [5, 'Diamond', 'N']]"
Win,51.0,4.33673,13,"[[6, 'Club', 'N'], [4, 'Spade', 'N']]"
['Three of a Kind'],51.0,4.33673,13,"[[6, 'Club', 'N'], [4, 'Spade', 'N']]"
['Three of a Kind'],51.0,4.33673,23,"[[5, 'Diamond', 'N'], [4, 'Spade', 'N']]"
Win,51.0,4.33673,01,"[[3, 'Diamond', 'N'], [6, 'Club', 'N']]"
Win,51.0,4.33673,12,"[[6, 'Club', 'N'], [5, 'Diamond', 'N']]"
['Three of a Kind'],51.0,4.33673,01,"[[3, 'Diamond', 'N'], [6, 'Club', 'N']]"

In [11]:
# final_complete_discard_odds_df.loc[final_complete_discard_odds_df['Discard Positions'] == '3']