In [1]:
import random
import collections
from fractions import Fraction
import pandas as pd
import itertools

In [2]:
hands_df = pd.read_csv('../Extra_Storage/UPDATED_ALL_HAND_OPTIONS.csv')  
hands_df = hands_df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

In [3]:
discard_list = [0,1,2,3,4]
all_discard_options = []
for L in range(len(discard_list) + 1):
    for subset in itertools.combinations(discard_list, L):
        discard_option = list(subset)
        all_discard_options.append(discard_option)
        
all_discard_options.pop(0)

[]

In [4]:
all_discard_options

[[0],
 [1],
 [2],
 [3],
 [4],
 [0, 1],
 [0, 2],
 [0, 3],
 [0, 4],
 [1, 2],
 [1, 3],
 [1, 4],
 [2, 3],
 [2, 4],
 [3, 4],
 [0, 1, 2],
 [0, 1, 3],
 [0, 1, 4],
 [0, 2, 3],
 [0, 2, 4],
 [0, 3, 4],
 [1, 2, 3],
 [1, 2, 4],
 [1, 3, 4],
 [2, 3, 4],
 [0, 1, 2, 3],
 [0, 1, 2, 4],
 [0, 1, 3, 4],
 [0, 2, 3, 4],
 [1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [5]:
card_deck = []

i = 2
j = 1
while i < 15 and j < 5:
    card = []
    card.append(i)
    
    if j == 1:
        card.append('Heart')
    elif j == 2:
        card.append('Diamond')
    elif j == 3:
        card.append('Spade')
    elif j == 4:
        card.append('Club')
    
    if i == 2:
        card.append('Y')
    else:
        card.append('N')
        
    if i == 14:
        j = j + 1
        i = 1
    
    card_deck.append(card)
    i = i + 1

In [6]:
i = 1
j = 52
card_hand = []

while i < 6:
    x = random.randrange(0, j)    
    dealt_card = card_deck.pop(x)
    card_hand.append(dealt_card)
    i = i + 1
    j = j - 1
    
first_dealt_hand = card_hand
string_first_hand = str(first_dealt_hand)
first_dealt_hand

[[12, 'Spade', 'N'],
 [13, 'Spade', 'N'],
 [5, 'Heart', 'N'],
 [5, 'Spade', 'N'],
 [6, 'Spade', 'N']]

In [7]:
# potential_discarded_card
all_discard_options

complete_discard_list = []

for item in all_discard_options:
    discard_string = ''

    for mini_item in item:
        temp_string = str(mini_item)
        discard_string = discard_string + temp_string
        
    complete_discard_list.append(discard_string)
    
complete_discard_list

['0',
 '1',
 '2',
 '3',
 '4',
 '01',
 '02',
 '03',
 '04',
 '12',
 '13',
 '14',
 '23',
 '24',
 '34',
 '012',
 '013',
 '014',
 '023',
 '024',
 '034',
 '123',
 '124',
 '134',
 '234',
 '0123',
 '0124',
 '0134',
 '0234',
 '1234',
 '01234']

In [8]:
test_discarded_card_position_list = [*complete_discard_list[-1]]

k = 0
discarded_cards = []
for item in test_discarded_card_position_list:
    num_item = int(item)
    card_position = num_item - k
    discard = first_dealt_hand.pop(card_position)
    discarded_cards.append(discard)
    k = k + 1

string_hand = []    
for item in first_dealt_hand:
    new_item = str(item)
    string_hand.append(new_item)

string_hand

[]

In [13]:
# test_hand = ["[2, 'Heart', 'Y']","[10, 'Club', 'N']","[5,'Diamond','N']"]

if len(string_hand) == 1:
    test_odds_df = hands_df[hands_df.isin([string_hand[0]]).any(axis=1)]
elif len(string_hand) == 2:
    test_odds_df = hands_df[hands_df.isin([string_hand[0]]).any(axis=1) & hands_df.isin([string_hand[1]]).any(axis=1)]
elif len(string_hand) == 3:
    test_odds_df = hands_df[hands_df.isin([string_hand[0]]).any(axis=1) & hands_df.isin([string_hand[1]]).any(axis=1) & hands_df.isin([string_hand[2]]).any(axis=1)]
elif len(string_hand) == 4:
    test_odds_df = hands_df[hands_df.isin([string_hand[0]]).any(axis=1) & hands_df.isin([string_hand[1]]).any(axis=1) & hands_df.isin([string_hand[2]]).any(axis=1) & hands_df.isin([string_hand[3]]).any(axis=1)]
elif len(string_hand) == 0:
    test_odds_df = hands_df[~hands_df.isin([string_first_hand[0]]).any(axis=1) & ~hands_df.isin([string_first_hand[1]]).any(axis=1) & ~hands_df.isin([string_first_hand[2]]).any(axis=1) & ~hands_df.isin([string_first_hand[3]]).any(axis=1) & ~hands_df.isin([string_first_hand[4]]).any(axis=1)]
    
    
# test_odds_df = hands_df[hands_df.isin(["[2, 'Heart', 'Y']"]).any(axis=1) & hands_df.isin(["[5, 'Heart', 'N']"]).any(axis=1) & hands_df.isin(["[6, 'Club', 'N']"]).any(axis=1)]

test_odds_summary_df = pd.DataFrame(test_odds_df['Result'].value_counts())

test = test_odds_summary_df['Result'].sum()

temp_odds_list = test_odds_summary_df['Result'].tolist()

new_list = []
for item in temp_odds_list:
    new_list.append("{:.5f}%".format((item / test) * 100))

test_odds_summary_df['Percentage'] = new_list
test_odds_summary_df

                             Result Percentage
['Loss']                    2120736  81.59941%
['Three of a Kind']          367848  14.15366%
['Straight']                  51096   1.96602%
['Four of a Kind']            32164   1.23757%
['Flush']                     12856   0.49466%
['Full House']                12672   0.48758%
['Straight Flush']              756   0.02909%
['Five of a Kind']              624   0.02401%
['Royal Flush with Duece']      156   0.00600%
['Four Deuces']                  48   0.00185%
['Royal Flush']                   4   0.00015%

In [10]:
test_odds_df

Empty DataFrame
Columns: [0, 1, 2, 3, 4, Result]
Index: []